.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0 10px 0;
  padding: 0 20px;
  text-align: center;
}

.heading p {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_group {
  display: flex;
  flex-direction: column;
}

.form_group input {
  margin-bottom: 10px;
  width: 100%;
}

.form_group input,
.form_group textarea,
.form_group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form_group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.login_image {
  display: flex;
  margin: 0 auto;
}
.login_image img {
  width: 500px;
}
.signup_image {
  display: flex;
  margin: 0 auto;
}

.signup_image img {
  width: 500px;
  object-fit: cover;
}

.password_reveal {
  position: relative;
}

.password_reveal input {
  border-radius: 5px;
  border: 1px solid #2d3f513a;
  font-size: 1rem;
  letter-spacing: 1px;
}

.toggler {
  width: 20px;
  text-align: center;
  position: absolute;
  right: 20px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login_info {
  background-color: var(--pickled-bluewood-100);
  border: 1px solid var(--pickled-bluewood-300);
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px 1px;
  text-align: center;
}

@media (max-width: 870px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .heading h1 {
    margin-top: 20px;
    font-size: 2rem;
  }

  .heading p {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .form .login_image img {
    margin: 0 auto;
    width: 300px;
  }

  .form .signup_image {
    display: none;
  }

  .login_info {
    margin-top: 20px;
  }
}
