.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
  color: #34495e;
}

.header ul li a {
  position: relative;
  display: flex;
  align-items: center;
}

.header ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: #2c3e50;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.header ul li a:hover::after {
  width: 100%;
  left: 0;
  transform: translateX(0%);
}

.header ul li a svg {
  margin-right: 5px;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.logo img {
  width: 25px;
  margin-right: 5px;
}
